.App {
  font-family: "Poppins", sans-serif;
  background-color: #fff7bc;
}

.nav-inactive {
  color: rgb(2, 2, 2);
  padding: 10px;
  letter-spacing: 1px;
  text-decoration: none;
}

.nav-active {
  color: rgb(2, 2, 2);
  padding: 10px;
  letter-spacing: 1px;
  text-underline-offset: 5px;
}
